:root {
  font-family: monospace;
}

.container {
  border: 5px solid black;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 450px;
  /* Align item, ubica los items en cross axis */
  align-items: flex-end;

  /* align-content: flex-start; */
  /* Revisar reverse column height: 600px; */

  /* Otro formato */
  border: 5px solid black;
  display: flex;
  flex-flow: row-reverse wrap;
  text-align: center;
  height: 450px;
  align-items: stretch;
  align-content: flex-start;
}

.item {
  box-sizing: border-box;
  /* Incluira el width + border = 25% */
  /* Sin box-sizing sera width = 25% + border, eso x4 es mas 100%  */
  /* width: 25%; */
  width: 300px;
  border: 5px solid black;
  background-color: coral;
  color: white;
}
