body {
  height: 100vh;
  background-color: $white;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}

@media (min-width: 768px) {
  .body {
    padding-top: 0.1rem;
  }
}

a:hover {
  color: peru;
}
