$open-sans: "Open Sans";
$regular: 400;
$semi-bold: 600;
$bold: 700;

$white: white;
$platinum: #e8e8e8;
$gray: #bababa;
// Second Color Scheme
$carmine-pink: #e94f37;
$salmon: #ef7f6d;
$spanish-pink: #f7bfb6;
//Third Color Scheme
$black-olive: #393e41;
$granite-gray: #5d6163;
$old-silver: #818486;
// Fourth Scheme
$verdigris: #44bba4;
$medium-aquamarine: #66c7b4;
$perl-aqua: #88d3c5;

//Font Family
$playfair: "Playfair Display", serif;
$open-sans: "Open Sans", sans-serif;

// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
