
        .item {
            border: 1px solid black;
            font-family: monospace;
            font-size: 3rem;
            background-color: gold;
        }

        .row {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 3px 40px;
        }

        .container {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        @media (min-width: 768px) {
            .container {
                max-width: 750px;
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 970px;
            }
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1170px;
            }
        }

        /* .item-1 { */
        /* grid-column-start: 4; */
        /* grid-column-end: 6; */
        /* El end 4 contara el ultimo borde. SOn 4 bordes en 3 columnas */
        /* } */

        /* .item-2 {
            grid-column-start: 2;
            grid-column-end: 3;
        } */

        /* .item-1 {
            grid-column: span 4;
        }

        .item-2 {
            grid-column: span 3;
        }

        .item-3 {
            grid-column: span 2;
        } */

        .col-12 {
            grid-column: span 12
        }

        .col-11 {
            grid-column: span 11;
        }

        .col-10 {
            grid-column: span 10
        }

        .col-9 {
            grid-column: span 9
        }

        .col-8 {
            grid-column: span 8
        }

        .col-7 {
            grid-column: span 7
        }

        .col-6 {
            grid-column: span 6
        }

        .col-5 {
            grid-column: span 5
        }

        .col-4 {
            grid-column: span 4
        }

        .col-3 {
            grid-column: span 3
        }

        .col-2 {
            grid-column: span 2
        }

        .col-1 {
            grid-column: span 1
        }
        
        @media (min-width: 768px) {
            .col-sm-12 {
            grid-column: span 12
            }
            .col-sm-11 {
            grid-column: span 11;
            }
            .col-sm-10 {
            grid-column: span 10
            }
            .col-sm-9 {
            grid-column: span 9
            }
            .col-sm-8 {
            grid-column: span 8
            }
            .col-sm-7 {
            grid-column: span 7
            }
            .col-sm-6 {
            grid-column: span 6
            }
            .col-sm-5 {
            grid-column: span 5
            }
            .col-sm-4 {
            grid-column: span 4
            }
            .col-sm-3 {
            grid-column: span 3
            }
            .col-sm-2 {
            grid-column: span 2
            }
            .col-sm-1 {
            grid-column: span 1
            }
        }
        
        @media (min-width: 992px) {
            .col-md-12 {
            grid-column: span 12
            }
            .col-md-11 {
            grid-column: span 11;
            }
            .col-md-10 {
            grid-column: span 10
            }
            .col-md-9 {
            grid-column: span 9
            }
            .col-md-8 {
            grid-column: span 8
            }
            .col-md-7 {
            grid-column: span 7
            }
            .col-md-6 {
            grid-column: span 6
            }
            .col-md-5 {
            grid-column: span 5
            }
            .col-md-4 {
            grid-column: span 4
            }
            .col-md-3 {
            grid-column: span 3
            }
            .col-md-2 {
            grid-column: span 2
            }
            .col-md-1 {
            grid-column: span 1
            }
        }